# Environment secrets
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Trained models (can be large — you can remove this line if you WANT to commit them for Streamlit Cloud deployment)
# models/*.pkl
# models/*.keras

# Raw data (keep out of git, regenerate from APIs anytime)
data/raw/

# OS/editor junk
.DS_Store
.vscode/
